* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background: rgba(48, 41, 41, 0.3);
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

li {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
}

li:nth-child(odd) {
  background-color: #04242277;
}

.main-title {
  margin: 20px 0 20px 20%;
}

.score-head {
  display: flex;
  justify-content: space-between;
}

.button {
  background: #e69b00;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 100px;
  border: none;
  outline-offset: 14px;
}

.refresh {
  display: block;
  padding: 6px 21px;
  border-radius: 12px;
  font-size: 1rem;
  background: #e6b400;
  transform: translateY(-6px);
}

.result-list {
  min-width: 350px;
  max-width: 400px;
  height: 50vh;
  margin-top: 20px;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}

.submit {
  border-radius: 12px;
  cursor: pointer;
  border: none;
  outline-offset: 14px;
  width: 80%;
  background: #e69b00;
  margin-top: 20px;
  padding: 10px;
}

.form-button {
  text-align: center;
}

.inputs {
  margin-top: 25px;
}